.NavGrid {
    flex: 1;
    overflow: auto;
    justify-content: center;
    text-align: center;
    height: 75px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    margin-bottom: 20px
}

.NavBar {
    background-color: #2C3531;
}

.logo {
    color: #D1E8E2;
    padding: 35px;
    font-size: 35px;
    text-decoration: none;
}

.Navbutton {
    border-radius: 18px;
    height: 50px;
    width: 100px;
    box-shadow: 0 4px 30px rgba(60, 100, 179, 0.1);
    background: #116466;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
}


.Navbutton:hover {
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    cursor: pointer;
}

.ButtonText {
    position: relative;
    color: #D1E8E2;
    font-size: 20px;
    text-decoration: none;
}


.Body {
    background-color: #D4A59A;
}

.Split {
    display: flex;
    justify-content: center;
    margin: 3%;
    align-items: center;
}

.BodyText {
    font-size: 20px;
    padding: 15px;
    color: #D1E8E2;
    background: rgba(23, 20, 20, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    width: 40%;
    text-align: center;
    align-items: center ;
    margin: 3%;
}

.BodyHeader {
    font-size: 36px;
    color: #D1E8E2;
    text-align: center;
    text-shadow: 1px 2px #116466;
    background-color: #FFCB9A;
    margin: -3px;
    box-shadow: 1px 1px black;
    padding-bottom: 2px;
}

.general {
    background-color: #116466;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0%;
    font-size: 30px;
    padding-top: 10px;
}

.defImage {
    width: 60%;
    -webkit-mask-image: linear-gradient(black, transparent);
}


.FullImage {
    width: 100%;
}


.signOut {
    color: #D1E8E2;
    border-radius: 18px;
    height: 60px;
    width: 100px;
    box-shadow: 0 4px 30px rgba(60, 100, 179, 0.1);
    background: #116466;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    color: #D1E8E2;
    font-size: 20px;
    text-decoration: none;
}

.Footer {
    flex: 1;
    overflow: auto;
    justify-content: center;
    text-align: center;
    background-color: #2C3531;
    height: 75px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    color: #D1E8E2;
    font-size: 12px;
}


.FooterText {
    display: flex;
    justify-content: center;
    align-content: center;
}


@media (max-width: 600px) {
    .Navbutton {
        height: 40px;
        width: 80px;
        padding-bottom: 3px;
    }
    .ButtonText {
        font-size: 15px;
    }
    .signOut {
        height: 48px;
        width: 80px;
        font-size: 15px;
        padding-top: 3px;
    }
    .Navbar {
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .logo {
        padding-left: 20px;
        font-size: 25px;
    }

    .BodyText {
        font-size: 15px;
        width: 400px;
        margin: 20px;
    }

    .BodyHeader {
        font-size: 30px;
    }
    .general {
        font-size: 25px;
    }
    .Footer {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    .Navbutton {
        height: 60px;
        width: 120px;
        padding-bottom: 10px;
    }
    .ButtonText {
        font-size: 25px;
    }
    .signOut {
        height: 72px;
        width: 120px;
        font-size: 25px;
        padding-top: 10px;
    }
    .Navbar {
        height: 100px;
        padding-top: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
    }

    .logo {
        padding-left: 30px;
        font-size: 45px;
    }

    .BodyText {
        font-size: 30px;
        width: 500px;
        margin: 30px;
    }

    .BodyHeader {
        font-size: 45px;
    }

    .general {
        font-size: 35px;
    }
    .Footer{
        font-size: 14px;
    }
}
