.top {
    display: flex;
    flex-direction: column;
    margin: -8px;
  }

.filler {
    height: 50vh;
    background-color: #2C3531;
}

.currentName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.changeNameInput {
  border-radius: 18px;
  height: 60%;
  margin-left: 5%;
}

.changeNameInput:hover{
  background-color: #26fbfe;
}

.changeName {
 display: flex;
 background-color: #FFCB9A;
 color: #D1E8E2;
 padding: 16px;
 align-items:center;
}

.changeNameButton {
  border-radius: 12px;
  height: 10%;
  width: 10%;
  text-align: center;
  font-size: 12px;
  background-color: #116466;
  color: #D1E8E2;
  box-shadow: 0.6px 0.5px black;
  margin-left: 2%;
}

.changeNameButton:hover{
  background-color: #2C3531;
}

.signOut {
  color: #D1E8E2;
  border-radius: 18px;
  height: 60px;
  width: 100px;
  box-shadow: 0 4px 30px rgba(60, 100, 179, 0.1);
  background: #116466;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  color: #D1E8E2;
  font-size: 20px;  
}

.signOutDiv{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5%;
}

.mainSection {
  display: flex;
  flex-direction: column;
  background-color: #D4A59A;
}

.dropEle {
  text-align: center;
  width: 80%;
}

.Login {
  display: flex;
  background-color: #D4A59A;
  justify-content: center;
  text-align: center;
  padding: 2%;
}

.currentName {
  font-size: 36px;
  color: #D1E8E2;
  text-align: left;
  padding-left: 24px;
  background-color: #FFCB9A;
  margin: -3px;
  box-shadow: 1px 1px black;
  padding-bottom: 2px;
}

.mainAccountDetails{
  display: flex;
  background-color: #D4A59A;
  justify-content: center;
}

.accountDetailsFormArea{
  background-color: #D1E8E2;
  width: 100%;
  height: 50%;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.basicHead{
  color: #116466;
  padding-left: 10%;
}

.TextForm{
  text-align: center;
  margin-left: 10%;
  width: 80%;
}

.TextForm:hover {
    background-color: #26fbfe;
}

.subSection{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;;
  padding: 20px;
}

.updateWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.updateProfile {
  text-align: center;
  color: #D1E8E2;
  background-color: #116466;
  border-radius: 10px;
  width: 50%;
  box-shadow: 1px 1px rgb(232, 230, 230);
}

.portrait {
  border-radius: 16px;
  background-color: #116466;
  color: #D1E8E2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait:hover {
  box-shadow: 5px 1px 5px #ffee10;
  text-shadow: 3px 1px 5px #ffee10;
}


.selected {
  box-shadow: 1px 1px 5px #ffee10;
  text-shadow: 3px 1px 5px #ffee10;
  border-radius: 16px;
  background-color: #116466;
  color: #D1E8E2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroWrapper{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.heroImage {
width: 30%;
}

.mappedHeroes {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
list-style-type: none;
}

.listItem {
padding: 20px;
color: #116466;
text-decoration: none;
font-size: 18px;
}

  .wrongThing {
    color: rgb(31, 31, 31);
    background-color: rgb(255, 80, 80);
    opacity: 85%;
    border-radius: 10px;
    padding: 5px;
    font-size: 90%;
    width: 90%;
    margin-left: 3%;
}

.errorMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currentSet{
  color: #116466;
  padding-left: 20%;
}



@media (max-width: 600px) {
  .signOut {
      height: 48px;
      width: 80px;
      font-size: 15px;
      padding-top: 3px;
  }
  .currentName {
    font-size: 24px;
  }
  .changeNameButton {
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  .signOut {
      height: 72px;
      width: 120px;
      font-size: 25px;
      padding-top: 10px;
  }  
  .currentName {
    font-size: 48px;
  }
  .changeNameButton {
    font-size: 14px;
  }
}
