.top {
  display: flex;
  flex-direction: column;
}

.top h1 {
  font-size: 32px;
}

.filler {
  height: 370px;
  background-color: #2C3531;
}

.searchHeader {
background-color: #D9B08C;
color: #d1e8e2;
font-size: 30px; 
display: flex;
justify-content: center;  
padding: 2%;
}

.searchBody {
background-color: #d1e8e2;
}

.queryArea {
background-color: #d1e8e2;
display: flex;
justify-content: center;
align-content: center;
}

.subsectionSR{
display: flex;
flex-direction: row;
text-align: center;
justify-content: center;
}

.subsectionSR p {
font-size: 14px;
}

.subsectionsrsub {
display: flex;
flex-direction: column;
margin: 5%;;
}

.submitButton{
background-color: #116466;
border-radius: 16px;
color: #d1e8e2;
font-size: 20px;
margin: 2%;
}

.submitButton:hover {
box-shadow: 0 0 5px #ffee10;
text-shadow: 0 0 5px #ffee10;
cursor: pointer;
}

.errorMessage {
text-align: center;
background: linear-gradient(90deg, rgba(253,29,29,1) 13%, rgba(252,176,69,1) 100%);
color: #d1e8e2;
}

.mapStyle{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.groupStyle {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 8px;
  padding-right: 18px;
}

.deleteField {
  background-color: rgba(82, 0, 0, 0.885);
  color: #d1e8e2;
  border-radius: 10px;
  width: 150%;
  box-shadow: 0 5px 0 rgba(63, 0, 0, 0.885);
}

.deleteField:active {
  cursor: pointer;
  text-shadow: 0 0 5px #ffee10;
  box-shadow: none;
  transform: translateY(5px);
}

@media (max-width: 600px) {
.subsectionSR p {
  font-size: 12px;
}

.top h1 {
  font-size: 16px;
}

.searchHeader {
  font-size: 24px; 
}

.submitButton { 
  font-size: 18px;
}
}

@media (min-width: 1200px) {
.subsectionSR p {
  font-size: 18px;
}

.top h1 {
  font-size: 48px;
}

.searchHeader {
  font-size: 36px; 
}

.submitButton {
  font-size: 24px;
}
}
