    .DocumentationHeader:hover {
      text-shadow: 0 0 5px yellow;
      cursor: pointer;
    }
    .MainBody {
      color: black;
      margin-bottom: 0px;
      background: radial-gradient(rgb(26, 109, 255) -0.42%, rgb(200, 34, 255) 100.42%);
      height: 1100px
    } 
    
    .headerFont {
      font-size: 32px;
      padding-left: 15px;
    }

    @media (max-width: 800) {
      .headerFont {
          font-size: 24px;
      }
  }

  @media (max-width: 500px) {
      .headerFont {
          font-size: 20px;
      }
  }

  @media (min-width: 1200px) {
      .headerFont {
          font-size: 48px;
      }
  }