.top {
   display: flex;
   flex-direction: column;
   margin: -8px;
 }

.filler {
   height: 50vh;
   background-color: #2C3531;
}
 
 .contentTable {
   border-collapse: collapse;
   margin: 0;
   font-size: 15px;
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 
 .contentTable thead tr {
   background-color: #116466;
   color: #D1E8E2;
   text-align: left;
   font-weight: bold;
 }
 
 .contentTable th,
 .contentTable td {
   padding: 12px 15px;
 }
 
 .contentTable tbody tr {
   border-bottom: 1px solid #dddddd;
 }
 
 .contentTable tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
 }
 
 .contentTable tbody tr:last-of-type {
   border-bottom: 2px solid #116466;
 }
 
 .contentTable tbody tr.active-row {
   font-weight: bold;
   color: #116466;
 }

 .pagesList {
   list-style: none;
 }
 
 .container{
    width: 720px;
    max-width: 340px;
    margin: 0 auto;
    position: relative;
    text-align: center;
 }
 .pagination{
    padding: 14px 0;
 }
 .pagination ul{
    margin: 0 auto; 
    padding: 0;
    list-style-type: none;
    text-align: left;
 }
 .pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
 }
 .p1 a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
 }
 .p1 a:hover{
   background-color: #b8ade6;
   border-radius: 25%;
   color: #D1E8E2;
}
 .p1 a.is-active{
    background-color: #887cb8;
    border-radius: 25%;
    color: #D1E8E2;
 }

.Loading{
   font-size: 36px;
}

.ListButton{
   margin: 2%;
   color: #d1e8e2;
   background-color: #116466;
   border-radius: 12px;
}

.HeroesTable {
   width: 100%;
   top: 58px;
   height: 10%;
   background: rgba(0, 0, 0, 0.15) ;
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   padding: 1px;
   overflow: hidden;
}

.ViewText {
   text-decoration: none;
   color: black;;
}

.indexTag {
   list-style: none;
   color: black;
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
}

.ListButton:hover {
   box-shadow: 0 0 3px #ffee10;
   text-shadow: 0 0 3px #ffee10;
}

.pageNums {
   user-select: none;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.pageButton {
   background-color: #116466;
   color: #d1e8e2;
   margin: 10px;
   width: 10px;
   font-size: 12px;
   padding: 8px;
   border-radius: 5px;
   list-style-type: none;
   display: flex;
   justify-content: center;
}

.pageButton:hover {
   box-shadow: 0 0 8px #d64b6c;
   box-shadow: 0 0 8px #d64b6c;
}

 @media (min-width: 1200px) {
   .contentTable {
      font-size: 18px;
    }

   .Loading {
      font-size: 48px;
   }
   .pageButton {
      width: 20px;
      font-size: 15px;
   }
}

@media (max-width: 800px) {
   .contentTable{
      font-size: 12px;
   }
   
   .Loading {
      font-size: 24px;
   }
   .pageButton {
      width: 12px;
      font-size: 8px;
      margin: 8px;
   }
}

@media (max-width: 500px) {
   .contentTable{
      font-size: 7px;
   }

   .Loading {
      font-size: 14px;
   }
   .pageButton {
      width: 10px;
      font-size: 6px;
      margin: 6px;
   }
}